.draggable-meal-list-helper-class .meal-item, .meal-item{
  .meal-fact{
    margin: 10px;
  }
  .description-btn{
    width: 100%;
    font-size: 12px;
    background-color: #C3C3C3;
    text-align: center;
    outline:0 !important;
    line-height:none;
    height: 20px;
    &:focus   {outline:0 !important;}
    &:active  {outline:0 !important; border:none; height:20px}
  }
}

.diet{
  .meal-list{
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
  }
}



.Protein{
  color: white;
  background: #D05B54;
}
.Carbohydrates{
  color: white;
  background: #4E99C5;
}
.Fat{
  color: white;
  background:#00BC9C;
}
.Calories{
  color: white;
  background: #2B3E4F;
}