.draggable-meal-list-helper-class .meal-item, .meal-item{
  .meal-fact{
    margin: 10px;
  }
  .description-btn{
    width: 100%;
    font-size: 12px;
    background-color: #C3C3C3;
    text-align: center;
    outline:0 !important;
    line-height:none;
    height: 20px;
    &:focus   {outline:0 !important;}
    &:active  {outline:0 !important; border:none; height:20px}
  }
}

.diet{
  .meal-list{
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
  }
}

@media print{
  @page {size: landscape}
  @page {
    margin: 0cm;
  }
  /* Hide every other element */
  body * {
    visibility: hidden;
  }
  /* Then displaying print container element*/
  .print-container, .print-container * {
    // background-color:red;
    // font-size: 30px !important;
    visibility: visible;
    .weekly-table{
      height: 91vh !important;
      .day-name {
      }
      .day-data{
        min-height: 260px !important;
      }
      .day-stats{ 
        .day-stats-slide-button{
          font-size: 12px !important;
        }
        .day-stats-table{
          font-size: 10.5px !important;
        }
      }
    }
  }

  html, body {
    height:100vh; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }
}