.dragging-helper-class .meal-main-stats, .meal-main-stats{
  font-size: 11px;
  text-align: center;
  .meal-name{
    // background-color: #E6E9EA;
    text-align: left;
    padding: 0;
    img{
      padding-left:5px;
      margin-right:5px;
    }
  }
}

.weekly-table{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  .weekly-table-column{
    &:not(:last-child){
      border-right: 1px solid black;
    }
    .day-name {
      text-align: center;
      text-decoration: underline;
      margin:10px;
    }
    .day-data{
      margin: 1px;
      min-height: 300px;
    }
    .day-stats{ 
      .day-stats-slide-button{
        margin: 0 1px;
        font-size: 12px;
        background:#C3C3C3;
        color:white;
        width:100%;
        text-align: center;
      }
      .day-stats-table{
        margin: 0 1px;
        width: 100%;
        background-color: #ECF0F1;
        font-size:12px;
      }
    }
  }
}

.Protein{
  color: white;
  background: #D05B54;
}
.Carbohydrates{
  color: white;
  background: #4E99C5;
}
.Fat{
  color: white;
  background:#00BC9C;
}
.Calories{
  color: white;
  background: #2B3E4F;
}